$font: 'Tahoma', Arial, sans-serif;

$black: #000000;
$green_light: #00bb00;
$green: #005500;
$green_dark: #002200;
$yellow: #ffff00;

body {
    background-color: $black;
    font-family: $font;
}
p,
div,
td {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 20px;
}
p,
div,
table {
    width: 100%;
    color: $green_light;
    margin-bottom: 40px;
}
tr {
    color: $green_light;
    margin: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $green_dark;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $green_dark;

    &:hover {
        border-bottom-color: $green_light;
        border-top-color: $green_light;
        background-color: $green_dark;
        color: $yellow;
    }
}
a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;

    &:hover {
        text-decoration: underline;
    }
}
#menu {
    list-style-type: none;
    position: absolute;
    top: 254px;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 220px;

    li {
        background: url('/menu.png') no-repeat top left;
        width: 220px;
        height: 90px;

        &:nth-of-type(1) {
            display: block;
            width: 100%;
            height: 116px;
            border: 0;
            outline: 0;
            margin: 0;
            background-position: 0 0;
        }
        &:nth-of-type(1):hover {
            background-position: 0 -150px;
        }
        &:nth-of-type(2) {
            display: block;
            width: 100%;
            background-position: 0 -300px;
            border: 0;
            outline: 0;
            margin: 0;
            height: 90px;
        }
        &:nth-of-type(2):hover {
            background-position: 0 -424px;
        }
        &:nth-of-type(3) {
            display: block;
            width: 100%;
            background-position: 0 -548px;
            border: 0;
            outline: 0;
            margin: 0;
            height: 90px;
        }
        &:nth-of-type(3):hover {
            background-position: 0 -672px;
        }
        &:nth-of-type(4) {
            display: block;
            width: 100%;
            background-position: 0 -796px;
            border: 0;
            outline: 0;
            margin: 0;
            height: 90px;
        }
        &:nth-of-type(4):hover {
            background-position: 0 -920px;
        }
        &:nth-of-type(5) {
            display: block;
            width: 100%;
            height: 160px;
            background-position: 0 -1044px;
            border: 0;
            outline: 0;
            margin: 0;
        }
        &:nth-of-type(5):hover {
            background-position: 0 -1238px;
        }
    }
    a {
        display: block;
        width: 100%;
        height: 90px;
        border: 0;
        outline: 0;
        margin: 0;

        &:hover {
            text-decoration: none;
        }
    }
}
ul.live {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    display: block;

    li {
        color: $green;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: $green;
        padding: 3px;
        text-align: center;
        display: block;
    }
}
ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li.a {
    color: $green_light;
    font-size: 13px;
    width: 100%;
    letter-spacing: 2px;
    margin: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $green;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $green;
    display: block;
    height: 44px;
}
img {
    border: 0;
}
h1, h2 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    line-height: 1em;
    padding: 20px 0 20px 0;
    margin: 0 20px 40px 20px;
    color: $yellow;
    text-shadow: 4px 4px 8px $black;
}
h2 {
    font-size: 36px;
    margin-top: 80px;
}

#beam {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-image: url('/beam_bg.png');
    background-repeat: repeat-y;
    width: 220px;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 254px;
    z-index: 200000000;
}
#header_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 254px;
    z-index: 2;
}
#subheader {
    min-height: 116px;
    width: 800px;
    background-image: url('/subheader.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 254px;
    left: 220px;
    z-index: 3;
    padding-left: 240px;
}
#cycler {
    position: fixed;
    bottom: -164px;
    right: -186px;
    z-index: 1;
    text-align: right;
    vertical-align: bottom;
    width: 746px;
    height: 500px;

    div {
        position: absolute;
        z-index: 1;
        text-align: right;
        vertical-align: bottom;
        background-image: url('/bg.png');
        width: 373px;
        height: 250px;
        background-color: $black;
        transform: scale(2);

        &.active {
            z-index: 3;
        }
    }
}
.songs {
    button {
        background: none;
        border: 0;
        outline: 0;
        font-family: $font;
        font-size: 15px;
        letter-spacing: 1px;
        color: $green_light;
        text-align: left;
        cursor: pointer;
        font-weight: bold;
    }
    span {
        display: inline-block;
        height: 32px;

        &:nth-child(1) {
            width: 460px;
            padding: 8px;
        }
        &:nth-child(2) {
            width: 32px;
            background-image: url('/play.png');
            background-position: 0 0;
            cursor: pointer;
        }
        &:nth-child(2):hover {
            background-position: 0 -50px;
        }
    }
}
li.new {
    border-color: $green;

    span {
        color: $green_light;
    }
}
.agenda {
    span {
        height: 32px;
        display: inline-block;
        padding: 8px;

        &:nth-child(1) {
            width: 120px;
        }
        &:nth-child(2) {
            width: 200px;
        }
        &:nth-child(3) {
            width: 100px;
        }
        &:nth-child(4) {
            width: 50px;
        }
    }
}
#container {
    height: 50px;
    margin-top: 50px;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: $black
}
::-webkit-scrollbar-thumb {
    background: $black;
    border: 2px solid $green_light
}
::-webkit-scrollbar-thumb:window-inactive {
    border: 2px solid $green_light
}
::-webkit-scrollbar-button {
    background: $green_light;
    border: 2px solid $green_light
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner {
    background: $black
}